@import './reset.css';

.hero {
    background-color: #1f2937;
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-between;
}

.margin1 {
    margin: 0 150px;
}

.margin2 {
    margin: 0 200px;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.footer {
    text-align: center;
}